@import "colors";

$dmat-app-bar-height: 4rem;
$dmat-app-bar-height-prominent: 7rem;

.dmat-app-bar.-fixed {
  & > .viewport {
    position: absolute;

    & > .header {
      position: fixed;
    }
  } .header {

  }
}

.dmat-app-bar {
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  & > .viewport {
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & > .header {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      height: $dmat-app-bar-height;
      display: flex;
      align-items: center;

      &.-prominent {
        height: $dmat-app-bar-height-prominent;
      }

      background: $dmat-primary;
      color: $dmat-text-on-primary;
    }

    & > .main {
      position: relative;
      width: 100%;
      height: 100%;
      top: $dmat-app-bar-height;

      &.-prominent {
        top: $dmat-app-bar-height-prominent;
      }
    }
  }
}
