@import "colors";

button.dmat-button {
  display: flex;
  align-self: flex-start;
  height: 36px;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 64px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &.-contained {
    background: $dmat-primary;
    color: $dmat-text-on-primary;

    &:hover {
      background: $dmat-primary-light;
    }
  }

  &.-outlined {
    background: none;
    color: $dmat-secondary;
    border: 2px $dmat-secondary-light solid;
    font-weight: bolder;

    &:hover {
      background: $dmat-secondary-lightest;
    }
  }

  &.-text {
    background: none;
    color: $dmat-secondary;
    font-weight: bolder;
    border: none;

    &:hover {
      background: $dmat-secondary-lightest;
    }
  }

  &:active {
    background: $dmat-primary-dark;
  }
}
