$dmat-primary: #263238;
$dmat-primary-light: #4f5b62;
$dmat-primary-dark: #000a12;
$dmat-text-on-primary: #ffffff;
$dmat-surface: #ffffff;
$dmat-surface-dark: rgba(47, 47, 47, 0.67);
$dmat-secondary: #448aff;
$dmat-secondary-lightest: #d0e4fd;
$dmat-secondary-light: #83b9ff;
$dmat-secondary-dark: #005ecb;
$dmat-text-on-secondary: #000000;
$dmat-text-diffuse: #474747;
$dmat-text-diffuser: #787878;

// Dimensions
$dmat-navigation-drawer-full-width: 15rem;
