html,body {
  height: 100%;
  margin: 0;
}

#dmat-example-app {
  & > header > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px;

    & > h1 {
      padding-left: 8px;
    }

    & > .dmat-tabs {
      grid-column: 2;
      grid-template-columns: 1fr 1fr;
      align-content: end;
    }
  }
}

#demo-view {
  display: grid;
}

.demo-cards  .dmat-card {
  float: left;

  .demo-buttons {
    display: flex;
    & > .demo-button {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
    }
  }
}

.main-view {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.app-bar-demo {
  width: 50rem;
  height: 30rem;
  position: relative;
}

.app-bar-demo-header {
  padding: 8px 8px 8px 32px;
}

.demo-carousel, .showcase-drawer-carousel-inner{
  & .dmat-carousel-item-inner {
    padding: 32px;
    height: 100%;
  }
}

.demo-carousel-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-content: center;
  align-items: center;
  height: 100%;

  & > img {
    margin-left: auto;
    margin-right: auto;
  }
}
