.demo-cards > .dmat-card {
  margin: 8px;
  float: left;
  width: 350px;

  .demo-buttons {
    display: flex;
    & > .demo-button {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
    }
  }
}
