@import "app_bar";
@import "button";
@import "carousel";
@import "colors";
@import "icon";
@import "navigation_drawer";

body {
  color: $dmat-text-on-primary;
  background: $dmat-surface-dark;
}

button.current-page {
  background: $dmat-secondary;
}



table.dmat-table {
  min-width: 100%;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);

  & thead {
    background: $dmat-primary;
    color: $dmat-text-on-primary;
  }

  & tr {
    vertical-align: middle;
    height: 35px;
  }

  & tbody {
    background: $dmat-surface;
    color: $dmat-text-on-secondary;
  }

  & > tbody > tr {
    border-top: 1px solid #aaaaaa;

    &:hover {
      background: $dmat-secondary-light;
    }
  }

  & td, & th {
    border: none;
    text-align: left;
    padding: 8px;
  }

  & .dmat-pagination {
    background: $dmat-surface;
    color: $dmat-text-on-secondary;
    font-weight: 500;
    font-family: Robota, sans-serif;
    border-top: 1px solid #aaaaaa;

    & > * {
      float: right;
    }

    & .dmat-pagination-button {
      font-family: inherit;
      appearance: unset;
      border: none;
      background: transparent;
      font-size: 1.5rem;

      &:hover {
        color: $dmat-secondary;
      }
    }
  }

  & .loading-row {
    padding: 0;
    height: 0px;

    & th {
      padding: 0;

      & > div {
        left: 0;
        bottom: 0;
        top: -4px;
      }
    }
  }

  &.--loading {
    & * {
      color: $dmat-text-diffuse;
    }
  }
}

.dmat-progress-indicator {
  position: relative;
  width: 100%;
  height: 100%;

  & .dmat-progress-bar {
    position: absolute;
    background: $dmat-secondary;
    height: 4px;
    animation-name: loading-pulsating;

    @keyframes loading-pulsating {
      0% {
        width: 0;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 100%;
      }
    }
  }
}


.dmat-modal-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $dmat-primary-dark;
  opacity: 0.5;
}
