@import "app_bar";
@import "button";
@import "carousel";
@import "colors";
@import "icon";
@import "navigation_drawer";

body {
  color: $dmat-text-on-primary;
  background: $dmat-surface-dark;
}

button.current-page {
  background: $dmat-secondary;
}



table

.dmat-progress-indicator {
  position: relative;
  width: 100%;
  height: 100%;

  & .dmat-progress-bar {
    position: absolute;
    background: $dmat-secondary;
    height: 4px;
    animation-name: loading-pulsating;

    @keyframes loading-pulsating {
      0% {
        width: 0;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 100%;
      }
    }
  }
}


.dmat-modal-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $dmat-primary-dark;
  opacity: 0.5;
}
