@import "app_bar";
@import "button";
@import "carousel";
@import "colors";
@import "icon";
@import "navigation_drawer";

body {
  color: $dmat-text-on-primary;
  background: $dmat-surface-dark;
}

button.current-page {
  background: $dmat-secondary;
}

.dmat-tabs {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  width: 100%;
  bottom: 0;

  button.tab {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.25rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding: 0 24px;
    display: flex;
    box-sizing: border-box;
    outline: none;
    border: none;
    flex: 1 0 auto;
    justify-content: center;
    cursor: pointer;
    background: $dmat-primary;
    color: $dmat-text-on-primary;
    height: 2.3rem;
    position: relative;

    &:hover {
      background: $dmat-primary-light;
    }

    & .dmat-tab-indicator {
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
      border-color: $dmat-secondary !important;
      border-bottom: 4px solid;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &.active .dmat-tab-indicator {
      opacity: 1;
    }
  }
}

table.dmat-table {
  min-width: 100%;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);

  & thead {
    background: $dmat-primary;
    color: $dmat-text-on-primary;
  }

  & tr {
    vertical-align: middle;
    height: 35px;
  }

  & tbody {
    background: $dmat-surface;
    color: $dmat-text-on-secondary;
  }

  & > tbody > tr {
    border-top: 1px solid #aaaaaa;

    &:hover {
      background: $dmat-secondary-light;
    }
  }

  & td, & th {
    border: none;
    text-align: left;
    padding: 8px;
  }

  & .dmat-pagination {
    background: $dmat-surface;
    color: $dmat-text-on-secondary;
    font-weight: 500;
    font-family: Robota, sans-serif;
    border-top: 1px solid #aaaaaa;

    & > * {
      float: right;
    }

    & .dmat-pagination-button {
      font-family: inherit;
      appearance: unset;
      border: none;
      background: transparent;
      font-size: 1.5rem;

      &:hover {
        color: $dmat-secondary;
      }
    }
  }

  & .loading-row {
    padding: 0;
    height: 0px;

    & th {
      padding: 0;

      & > div {
        left: 0;
        bottom: 0;
        top: -4px;
      }
    }
  }

  &.--loading {
    & * {
      color: $dmat-text-diffuse;
    }
  }
}

.dmat-progress-indicator {
  position: relative;
  width: 100%;
  height: 100%;

  & .dmat-progress-bar {
    position: absolute;
    background: $dmat-secondary;
    height: 4px;
    animation-name: loading-pulsating;

    @keyframes loading-pulsating {
      0% {
        width: 0;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 100%;
      }
    }
  }
}

div.dmat-card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  background: $dmat-surface;
  color: $dmat-text-on-secondary;

  &:hover {
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
  }

  & .card-section {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  & .dmat-card-header-container {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;

    & .sub-title {
      font-size: 1rem;
      line-height: 0.8rem;
      margin-top: -0.1rem;
      color: $dmat-text-diffuser;
    }
  }

  & .dmat-card-body-container {
    font-size: 1rem;
    color: $dmat-text-diffuse;
  }

  & .dmat-card-footer-container {
    line-height: 2rem;
  }
}

ul.dmat-list {
  padding: 8px 0;
  list-style-type: none;

  & .dmat-list-item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    padding: 4px 8px;
  }
}

.dmat-input {
  display: inline-flex;
  position: relative;
  height: 40px;
  background: $dmat-surface;
  color: $dmat-text-on-secondary;
  padding: 0;

  & .dmat-error-text {
    color: #b00020;
  }

  .dmat-assistive-text {
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 2px;
    font-size: small;
    white-space: nowrap;
  }

  & input {
    transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & > .dmat-floating-label input {
    max-height: 40px;
    height: 40px;
  }

  &.assistive > .dmat-floating-label input {
    max-height: 35px;
    height: 35px;
  }

  .dmat-input-element {
    position: relative;
    font-weight: 400;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 8px 4px 3px;
    top: 0;
    width: 100%;
    height: 100%;

    &.invalid {
      background: #ffb3a9;
    }
  }

  & .dmat-input-label-text {
    position: absolute;
    z-index: 1;
    left: 5%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: $dmat-text-diffuse;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    left 150ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;

    &.above {
      left: 0;
      transform: translateY(-106%) scale(0.8);
    }
  }
}


.dmat-surface {
  background: $dmat-surface-dark
}

.dmat-container {
  padding: 16px;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: $dmat-surface;
}

.dmat-modal-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $dmat-primary-dark;
  opacity: 0.5;
}
