.dmat-app-bar {
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .dmat-app-bar > .viewport {
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .dmat-app-bar > .viewport > .header {
      position: fixed;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      height: 3rem;
      background: #263238;
      color: #ffffff; }
    .dmat-app-bar > .viewport > .main {
      position: relative;
      width: 100%;
      height: 100%;
      top: 3rem; }
