.dmat-carousel > .container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 500ms; }
  .dmat-carousel > .container > .dmat-carousel-item {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    transition: left 0.5s, right 0.5s; }
    .dmat-carousel > .container > .dmat-carousel-item > .dmat-carousel-item-inner {
      position: relative;
      width: 100%;
      height: 100%; }
    .dmat-carousel > .container > .dmat-carousel-item.-leave-left {
      right: 100%;
      z-index: 1; }
    .dmat-carousel > .container > .dmat-carousel-item.-leave-right {
      left: 100%;
      z-index: 1; }
    .dmat-carousel > .container > .dmat-carousel-item.-hidden {
      display: none; }
  .dmat-carousel > .container .dmat-carousel-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3rem;
    background-color: rgba(47, 47, 47, 0.67);
    opacity: 20%;
    transition: opacity 250ms;
    z-index: 3; }
    .dmat-carousel > .container .dmat-carousel-button:hover {
      opacity: 80%; }
  .dmat-carousel > .container .dmat-carousel-left-button {
    left: 0; }
  .dmat-carousel > .container .dmat-carousel-right-button {
    right: 0; }
