.demo-cards .dmat-card {
  margin: 8px;
  float: left;
  width: 350px; }
  .demo-cards .dmat-card .demo-buttons {
    display: flex; }
    .demo-cards .dmat-card .demo-buttons > .demo-button {
      display: inline-flex;
      align-items: center;
      flex-direction: row; }

.navigation-drawer-demo {
  height: 400px;
  width: 800px;
  position: relative; }

.main-view {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.app-bar-demo {
  width: 50rem;
  height: 30rem;
  position: relative; }

.app-bar-demo-header {
  padding: 8px 8px 8px 32px; }

.demo-drawer-with-app-bar .dmat-navigation-drawer-expand {
  color: #ffffff; }

.demo-card {
  width: 70rem; }

.dmat-icon {
  color: #000000; }
  .dmat-icon.-small {
    width: 18px;
    height: 18px; }
  .dmat-icon.-normal {
    width: 24px;
    height: 24px; }
  .dmat-icon.-large {
    width: 36px;
    height: 36px; }
  .dmat-icon.-extra-large {
    width: 48px;
    height: 48px; }
  .dmat-icon:hover {
    color: #505050; }
