.dmat-app-bar.-fixed > .viewport {
  position: absolute; }
  .dmat-app-bar.-fixed > .viewport > .header {
    position: fixed; }

.dmat-app-bar {
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .dmat-app-bar > .viewport {
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .dmat-app-bar > .viewport > .header {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      height: 4rem;
      display: flex;
      align-items: center;
      background: #263238;
      color: #ffffff; }
      .dmat-app-bar > .viewport > .header.-prominent {
        height: 7rem; }
    .dmat-app-bar > .viewport > .main {
      position: relative;
      width: 100%;
      height: 100%;
      top: 4rem; }
      .dmat-app-bar > .viewport > .main.-prominent {
        top: 7rem; }

.dmat-navigation-drawer-container .drawer {
  position: absolute;
  background: #ffffff;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: width 0.2s ease-in;
  z-index: 1;
  overflow: hidden; }
  .dmat-navigation-drawer-container .drawer.-expanded {
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 4px 1px rgba(0, 0, 0, 0.12);
    width: 15rem; }
  .dmat-navigation-drawer-container .drawer .drawer-container {
    position: relative; }
    .dmat-navigation-drawer-container .drawer .drawer-container > .controls {
      position: relative;
      height: 1.5rem;
      padding: 4px 8px 4px 4px; }
      .dmat-navigation-drawer-container .drawer .drawer-container > .controls > .dmat-navigation-drawer-collapse {
        cursor: pointer;
        position: absolute;
        font-weight: 600;
        font-size: 1rem;
        top: 1rem;
        right: 1rem;
        width: 1rem;
        height: 1rem; }
        .dmat-navigation-drawer-container .drawer .drawer-container > .controls > .dmat-navigation-drawer-collapse:before {
          content: '\3008'; }
    .dmat-navigation-drawer-container .drawer .drawer-container .title {
      padding: 16px; }
    .dmat-navigation-drawer-container .drawer .drawer-container .entry {
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 4px;
      padding: 8px;
      font-weight: 500;
      color: #474747;
      cursor: pointer;
      transition: background-color 0.1s;
      border-radius: 4px; }
      .dmat-navigation-drawer-container .drawer .drawer-container .entry:hover {
        background: #d0e4fd; }
      .dmat-navigation-drawer-container .drawer .drawer-container .entry.-active {
        background: #83b9ff; }

.dmat-navigation-drawer-container .main {
  position: absolute;
  transition: left 0.2s ease-in;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .dmat-navigation-drawer-container .main .dmat-navigation-drawer-expand {
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem; }
    .dmat-navigation-drawer-container .main .dmat-navigation-drawer-expand:before {
      content: '\2630'; }
  .dmat-navigation-drawer-container .main.-expanded {
    left: 15rem; }
    .dmat-navigation-drawer-container .main.-expanded.-modal {
      left: 0; }

button.dmat-button {
  display: flex;
  align-self: flex-start;
  height: 36px;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 64px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer; }
  button.dmat-button:focus {
    outline: 0; }
  button.dmat-button.-contained {
    background: #263238;
    color: #ffffff; }
    button.dmat-button.-contained:hover {
      background: #4f5b62; }
  button.dmat-button.-outlined {
    background: none;
    color: #448aff;
    border: 2px #83b9ff solid;
    font-weight: bolder; }
    button.dmat-button.-outlined:hover {
      background: #d0e4fd; }
  button.dmat-button.-text {
    background: none;
    color: #448aff;
    font-weight: bolder;
    border: none; }
    button.dmat-button.-text:hover {
      background: #d0e4fd; }
  button.dmat-button:active {
    background: #000a12; }

body {
  color: #ffffff;
  background: rgba(47, 47, 47, 0.67); }

button.current-page {
  background: #448aff; }

.dmat-tabs {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  width: 100%;
  bottom: 0; }
  .dmat-tabs button.tab {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.25rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding: 0 24px;
    display: flex;
    box-sizing: border-box;
    outline: none;
    border: none;
    flex: 1 0 auto;
    justify-content: center;
    cursor: pointer;
    background: #263238;
    color: #ffffff;
    height: 2.3rem;
    position: relative; }
    .dmat-tabs button.tab:hover {
      background: #4f5b62; }
    .dmat-tabs button.tab .dmat-tab-indicator {
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
      border-color: #448aff !important;
      border-bottom: 4px solid;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1; }
    .dmat-tabs button.tab.active .dmat-tab-indicator {
      opacity: 1; }

table.dmat-table {
  min-width: 100%;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }
  table.dmat-table thead {
    background: #263238;
    color: #ffffff; }
  table.dmat-table tr {
    vertical-align: middle;
    height: 35px; }
  table.dmat-table tbody {
    background: #ffffff;
    color: #000000; }
  table.dmat-table > tbody > tr {
    border-top: 1px solid #aaaaaa; }
    table.dmat-table > tbody > tr:hover {
      background: #83b9ff; }
  table.dmat-table td, table.dmat-table th {
    border: none;
    text-align: left;
    padding: 8px; }
  table.dmat-table .dmat-pagination {
    background: #ffffff;
    color: #000000;
    font-weight: 500;
    font-family: Robota, sans-serif;
    border-top: 1px solid #aaaaaa; }
    table.dmat-table .dmat-pagination > * {
      float: right; }
    table.dmat-table .dmat-pagination .dmat-pagination-button {
      font-family: inherit;
      appearance: unset;
      border: none;
      background: transparent;
      font-size: 1.5rem; }
      table.dmat-table .dmat-pagination .dmat-pagination-button:hover {
        color: #448aff; }
  table.dmat-table .loading-row {
    padding: 0;
    height: 0px; }
    table.dmat-table .loading-row th {
      padding: 0; }
      table.dmat-table .loading-row th > div {
        left: 0;
        bottom: 0;
        top: -4px; }
  table.dmat-table.--loading * {
    color: #474747; }

.dmat-progress-indicator {
  position: relative;
  width: 100%;
  height: 100%; }
  .dmat-progress-indicator .dmat-progress-bar {
    position: absolute;
    background: #448aff;
    height: 4px;
    animation-name: loading-pulsating; }

@keyframes loading-pulsating {
  0% {
    width: 0; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

div.dmat-card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  color: #000000; }
  div.dmat-card:hover {
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 6px 0px rgba(0, 0, 0, 0.12); }
  div.dmat-card .card-section {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px; }
  div.dmat-card .header {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem; }
    div.dmat-card .header .sub-title {
      font-size: 1rem;
      line-height: 0.8rem;
      margin-top: -0.1rem;
      color: #787878; }
  div.dmat-card .body {
    font-size: 1rem;
    color: #474747; }
  div.dmat-card .footer {
    line-height: 2rem; }

ul.dmat-list {
  padding: 8px 0;
  list-style-type: none; }
  ul.dmat-list .dmat-list-item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    padding: 4px 8px; }

.dmat-input {
  display: inline-flex;
  position: relative;
  height: 40px;
  background: #ffffff;
  color: #000000; }
  .dmat-input .dmat-input-element {
    font-weight: 400;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 8px 4px 3px;
    width: 100%;
    height: 100%; }
    .dmat-input .dmat-input-element.invalid {
      background: #ffb3a9; }
  .dmat-input label.dmat-floating-label {
    position: absolute;
    left: 8px;
    right: initial;
    top: 50%;
    transform: translateY(-50%);
    color: #474747;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1); }
    .dmat-input label.dmat-floating-label.above {
      left: 0;
      transform: translateY(-106%) scale(0.75); }

.dmat-surface {
  background: rgba(47, 47, 47, 0.67); }

.dmat-container {
  padding: 16px;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.dmat-modal-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000a12;
  opacity: 0.5; }
