@import "../../utils/map_get_strict";


@mixin button($theme) {
  $colors: map-get-strict($theme, "colors");

  button.dmat-button {
    display: flex;
    align-self: flex-start;
    height: 36px;
    text-transform: uppercase;
    font-weight: bolder;
    min-width: 64px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    border: none;

    &:focus {
      outline: 0;
    }

    &.-contained {
      color: map-get-strict($colors, "text_on_secondary");

      &.-prominent {
        background: map-get-strict($colors, "secondary");

        &:hover {
          background: scale-color(map-get-strict($colors, "secondary"), $lightness: 30%);
        }
      }

      &.-neutral {
        background: map-get-strict($colors, "secondary_light");

        &:hover {
          background: scale-color(map-get-strict($colors, "secondary_light"), $lightness: 30%);
        }
      }

      &.-unimportant {
        background: map-get-strict($colors, "secondary_lightest");

        &:hover {
          background: scale-color(map-get-strict($colors, "secondary_lightest"), $lightness: 30%);
        }
      }
    }

    &.-outlined {
      background: none;
      border: 2px map-get-strict($colors, "secondary_light") solid;
      font-weight: bolder;

      &.-prominent {
        color: map-get-strict($colors, "secondary");

        &:hover {
          color: scale-color(map-get-strict($colors, "secondary"), $lightness: 30%);
        }
      }

      &.-neutral {
        color: map-get-strict($colors, "secondary_light");

        &:hover {
          color: scale-color(map-get-strict($colors, "secondary_light"), $lightness: 30%);
        }
      }

      &.-unimportant {
        color: map-get-strict($colors, "secondary_lightest");

        &:hover {
          color: scale-color(map-get-strict($colors, "secondary_lightest"), $lightness: 30%);
        }
      }
    }

    &.-text {
      background: none;
      color: map-get-strict($colors, "secondary");
      font-weight: bolder;
      border: none;

      &.-prominent {
        color: map-get-strict($colors, "secondary");

        &:hover {
          color: scale-color(map-get-strict($colors, "secondary"), $lightness: 30%);
          background: scale-color(map-get-strict($colors, "secondary"), $lightness: 70%);
        }
      }

      &.-neutral {
        color: map-get-strict($colors, "secondary_light");

        &:hover {
          color: scale-color(map-get-strict($colors, "secondary_light"), $lightness: 30%);
          background: scale-color(map-get-strict($colors, "secondary_light"), $lightness: 70%);
        }
      }

      &.-unimportant {
        color: map-get-strict($colors, "secondary_lightest");

        &:hover {
          color: scale-color(map-get-strict($colors, "secondary_lightest"), $lightness: 30%);
          background: scale-color(map-get-strict($colors, "secondary_lightest"), $lightness: 70%);
        }
      }
    }

    &:active {
      //background: map-get-strict($colors, "primary_dark");
    }
  }
}
