@import "../../utils/map_get_strict";

@mixin input_element($colors) {
  display: inline-flex;
  position: relative;
  background: map-get-strict($colors, "surface");
  color: map-get-strict($colors, "text_on_secondary");
  padding: 0;

  & .dmat-input-element {
    font-weight: 400;
  }
}
