@import "../../utils/map_get_strict";

@mixin floating_label($theme) {
  $colors: map-get-strict($theme, "colors");

  & > .dmat-floating-label input {
    max-height: 40px;
    height: 40px;
  }

  &.assistive > .dmat-floating-label input {
    max-height: 35px;
    height: 35px;
  }

  & .dmat-input-label-text {
    position: absolute;
    z-index: 1;
    left: 5%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: map-get-strict($colors, "text_diffuse");
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    left 150ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;

    &.above {
      left: 0;
      transform: translateY(-106%) scale(0.8);
    }
  }
}
