@import "label";
@import "input_element";

@mixin select($theme) {
  $colors: map-get-strict($theme, "colors");
  $components: map-get-strict($theme, "components");
  $inputs: map-get-strict($components, "inputs");

  .dmat-input-select {
    height: map-get-strict($inputs, "input_height");

    & >.dmat-floating-label > select {
      border: none;
      background: none;
      width: 100%;
      line-height: inherit;
      outline: none;
    }

    @include input_element($colors);
    @include floating_label($theme);
  }
}
