@import "../../utils/map_get_strict";

@mixin floating_label($theme) {
  $colors: map-get-strict($theme, "colors");
  $components: map-get-strict($theme, "components");
  $inputs: map-get-strict($components, "inputs");

  $border_radius: map-get-strict($inputs, "border_radius");
  $border: map-get-strict($inputs, "border");
  $input_baseline: map-get-strict($inputs, "input_baseline");
  $invalid_input_background: map-get-strict($inputs, "invalid_input_background");

  & {
    height: map-get-strict($inputs, "input_height");
    width: 100%;
  }

  &.-invalid > input, & > select {
    background: $invalid_input_background;
    border-radius: $border_radius;
  }

  & > input, & > select {
    height:$input_baseline;
    background: transparent;
  }

  & > .dmat-floating-label {
    height: $input_baseline;
  }

  & .supporting-text {
    position: absolute;
    font-size: small;
    white-space: nowrap;
    bottom: 0;
    left: 0;
    display: flex;

    & > * + * {
        margin-left: 8px;
    }
  }

  & > .dmat-floating-label.above > .dmat-notch-middle {
    border-top: none;

    & > span {
      display: block;
      transform: translateY(-115%) scale(0.8) translateX(-10%);
    }
  }

  &.-invalid {
    color: map-get-strict($colors, "error_text_color");
    border-color: map-get-strict($colors, "invalid_element_backdrop");

    & input, & select {
      color: map-get-strict($colors, "error_text_color");
    }
  }

  & > input, & > select {
    border: none;
    outline: none;
    width: 100%;
    height: $input_baseline;
  }

  & > .dmat-floating-label {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: $input_baseline;
    text-align: left;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    & > .dmat-notch-left {
      border-top-left-radius: $border_radius;
      border-bottom-left-radius: $border_radius;
      border-left: $border;
      border-bottom: $border;
      border-top: $border;
      pointer-events: none;
      width: 12px;
    }

    &.above > .dmat-notch-middle {
      border-top: none;

      & > span {
        display: block;
        transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1),
        color 150ms cubic-bezier(0.4, 0, 0.2, 1),
        left 100ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    & > .dmat-notch-middle {
      border-bottom: $border;
      border-top: $border;
      pointer-events: none;
      display: flex;
      align-items: center;

      & > span {
        color: map-get-strict($colors, "text_diffuse");
        transform: translateY(0) scale(1) translateX(0);
        transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1),
        color 150ms cubic-bezier(0.4, 0, 0.2, 1),
        left 100ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    & > .dmat-notch-right {
      border-top-right-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
      border-right: $border;
      border-bottom: $border;
      border-top: $border;
      pointer-events: none;
      flex: auto;
    }
  }
}
