@import "../../utils/map_get_strict";

@mixin switch($theme) {
  $colors: map-get-strict($theme, "colors");

  .dmat-switch {
    cursor: pointer;

    &[disabled] {
      opacity: 30%;
    }

    &.on {
      & .track {
        fill: map-get-strict($colors, "secondary_lightest")
      }

      & .thumb {
        fill: map-get-strict($colors, "secondary_dark")
      }
    }

    & .track {
      fill: map-get-strict($colors, "text_diffuser");
    }

    & .thumb {
      fill: map-get-strict($colors, "select_backdrop");
    }
  }
}
