@import "../../utils/breakpoints";
@import "../../utils/map_get_strict";

@mixin container($theme) {
  $colors: map-get-strict($theme, "colors");
  $layout: map-get-strict($theme, "layout");
  $breakpoints: map-get-strict($theme, "breakpoints");
  $margin: map-get-strict($layout, "margin");
  $gutter: map-get-strict($layout, "gutter");

  .dmat-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    background-color: map-get-strict($colors, "surface");

    $m: map-get-strict($margin, "small");
    $g: map-get-strict($gutter, "small");
    padding: $m;
    gap: $g;

    @include respond-to($breakpoints, "medium") {
      $m: map-get-strict($margin, "medium");
      $g: map-get-strict($gutter, "medium");
      padding: $m;
      gap: $g;
      grid-auto-flow: column;
    }

    @include respond-to($breakpoints, "large") {
      $m: map-get-strict($margin, "large");
      $g: map-get-strict($gutter, "large");
      padding: $m;
      gap: $g;
    }
  }
}
