@mixin list($theme) {
  ul.dmat-list {
    padding: 8px 0;
    list-style-type: none;

    & > .dmat-list-item {
      display: flex;
      position: relative;
      padding: 4px 8px;

      & > * {
        flex: 1;
      }
    }
  }
}
