@import "../../utils/map_get_strict";

@mixin navigation_drawer($theme) {
  $colors: map-get-strict($theme, "colors");
  $components: map-get-strict($theme, "components");
  $navigation_drawer: map-get-strict($components, "navigation_drawer");

  .dmat-navigation-drawer {
    height: 100%;

    display: grid;
    grid-template-columns: 0 1fr;
    grid-auto-flow: row;
    position: relative;
    transition: grid-template-columns 0.2s ease-in;

    &.-expanded {
      &:not(.-retracting), &.-retracting.-extended {
        grid-template-columns: map-get-strict($navigation_drawer, "full_width") 1fr;

        &.-narrow  {
          grid-template-columns: map-get-strict($navigation_drawer, "narrow_width") 1fr;
        }
      }

      &.-retracting:not(.-extended) {
        grid-template-columns: map-get-strict($navigation_drawer, "retracted_width") 1fr;

        & > .drawer {
          background-color: #CCCCCE;
        }
      }

      &  > .drawer {
        border-right: 1px solid rgba(0,0,0,20%);
      }
    }

    &:not(.-expanded) > .dmat-scrim > .scrim-overlay {
      display: None;
    }

    &.-modal {
      & > .drawer {
        z-index: 1;
        grid-column: 1;
        grid-row: 1;
      }

      & > :nth-child(2) {
        grid-column: 1/3;
        grid-row: 1;
      }
    }

    & > :nth-child(2) {
      grid-column: 2;
    }

    & > .drawer {
      background: map-get-strict($colors, "surface");

      overflow: hidden;

      & .drawer-container {
        position: relative;

        & > .controls {
          display: none;
          position: relative;
          height: 1.5rem;
          padding: 4px 8px 4px 4px;

          & .dmat-navigation-drawer-collapse {
            &:before {
              content: '\3008';
            }

            cursor: pointer;

            position: absolute;
            font-weight: 600;
            font-size: 1rem;
            top: 1rem;
            right: 1rem;
            width: 1rem;
            height: 1rem;
          }
        }

        & .title {
          padding: 16px;
        }

        & .entry {
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 4px;
          padding: 8px;
          font-weight: 500;
          color: map-get-strict($colors, "text_diffuse");
          cursor: pointer;
          transition: background-color 0.1s;
          border-radius: 4px;

          &:hover {
            background: map-get-strict($colors, "secondary_lightest");
          }

          &.-active {
            background: map-get-strict($colors, "secondary_light");
          }
        }
      }
    }
  }
}
