@import "../../utils/map_get_strict";
@import "../../utils/breakpoints";

@mixin tabs($theme) {
  $colors: map-get-strict($theme, "colors");
  $layout: map-get-strict($theme, "layout");
  $breakpoints: map-get-strict($theme, "breakpoints");
  $gutter: map-get-strict($layout, "gutter");

  .dmat-tabs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    font-size: x-small;

    @include respond-to($breakpoints, "medium") {
      font-size: unset;
      grid-template-columns: repeat(5, 1fr);
    }

    button.tab {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      line-height: 2.25rem;
      font-weight: 500;
      font-family: Roboto, sans-serif;
      padding: 0;

      @include respond-to($breakpoints, "medium") {
        $g: map-get-strict($gutter, "medium");
        padding: 0 $g;
      }

      box-sizing: border-box;
      outline: none;
      border: none;
      cursor: pointer;
      background: map-get-strict($colors, "primary");
      color: map-get-strict($colors, "text_on_primary");
      height: 2.3rem;
      position: relative;

      &:hover {
        background: map-get-strict($colors, "primary_light");
      }

      & .dmat-tab-indicator {
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        border-color: map-get-strict($colors, "secondary") !important;
        border-bottom: 4px solid;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
      }

      &.active .dmat-tab-indicator {
        opacity: 1;
      }
    }
  }
}
