@import "../../utils/map_get_strict";

@mixin app_bar($theme) {
  $colors: map-get-strict($theme, "colors");
  $components: map-get-strict($theme, "components");
  $app_bar: map-get-strict($components, "app_bar");
  $layout: map-get-strict($theme, "layout");
  $breakpoints: map-get-strict($theme, "breakpoints");

  .dmat-app-bar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;

    & > header {
      grid-row: 1;
      display: flex;
      height: fit-content;
      align-items: center;

      &.-prominent {
        height: map-get-strict($app_bar, "height_prominent");
      }

      background: map-get-strict($colors, "primary");
      color: map-get-strict($colors, "text_on_primary");
    }

    & > main {
      grid-row: 2;
      overflow: auto;
      height: 100%;

      display: grid;
      grid-template-rows: 1fr;
      grid-auto-flow: row;
    }
  }
}
