@import "../../utils/map_get_strict";

@mixin app_bar($theme) {
  $colors: map-get-strict($theme, "colors");
  $components: map-get-strict($theme, "components");
  $app_bar: map-get-strict($components, "app_bar");
  $layout: map-get-strict($theme, "layout");
  $breakpoints: map-get-strict($theme, "breakpoints");

  .dmat-app-bar {
    display: grid;
    position: absolute;
    transform: translateZ(0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    & > .viewport {
      display: grid;
      grid-template-rows: max-content 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'main';

      & > header {
        grid-area: header;
        display: flex;
        height: fit-content;
        align-items: center;

        &.-prominent {
          height: map-get-strict($app_bar, "height_prominent");
        }

        background: map-get-strict($colors, "primary");
        color: map-get-strict($colors, "text_on_primary");
      }

      & > main {
        grid-area: main;
        overflow: auto;
        height: 100%;
      }
    }
  }
}
