@import "../../utils/map_get_strict";

@mixin sheet($theme) {
  $colors: map-get-strict($theme, "colors");
  $surface: map-get-strict($colors, "surface");
  $components: map-get-strict($theme, "components");
  $sheet: map-get-strict($components, "sheet");
  $width: map-get-strict($sheet, "side_width");
  $height: map-get-strict($sheet, "bottom_height");

  .dmat-sheet {
    display: grid;
    grid-template-columns: $width 1fr $width;
    grid-template-rows: 1fr $height;
    grid-auto-flow: column;
    height: 100%;

    & > .dmat-sheet-right {
      grid-column: 3;
      grid-row: 1/3;
      z-index: 1;
      background: $surface;
      border-left: 1px solid rgba(0,0,0,20%);
    }

    & > .dmat-sheet-left {
      grid-column: 1;
      grid-row: 1/3;
      z-index: 1;
      background: $surface;
      border-right: 1px solid rgba(0,0,0,20%);
    }

    & > .dmat-sheet-bottom {
      grid-column: 1/4;
      grid-row: 2;
      z-index: 1;
      text-align: center;
      background: $surface;
      border-top: 1px solid rgba(0,0,0,20%);
    }

    & > .dmat-sheet-main-view {
      grid-column: 1/4;
      grid-row: 1/3;
    }

    & > .dmat-sheet-content:not(.-expanded) {
      visibility: hidden;
    }
  }
}
